@charset "utf-8";

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}


article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000; 
  font-style:italic;
   font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;   
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}


body{
    margin: 0px;
}

ul{
    list-style-type: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 4%;
}
#logo h1{
    background-color: rgb(40, 40, 41);
    color: white;
    padding: 5px 20px;
    font-size: 23px;
    margin: 10px 50px;
}
#logo a{
    text-decoration: none;
}
#nav ul{
display: flex;
justify-content: flex-start;
margin-right: 10px;
}
#nav li{
    margin-right: 35px;
    font-size: 14px;
}
#no1 a{
    text-decoration: none;
    color: #383e45;
}
#no1 a:hover{
    color: gray;
}
#no2 a{
    text-decoration: none;
    color: rgb(33, 33, 33);
}
#no2 a:hover{
    color: gray;
}
#main-visual{
    width: 100%;
    height: 600px;
    object-fit: cover;
    margin-bottom: 45px;
}
#about{
    margin: 0 auto 100px auto;
    padding: 0 4%;
    max-width: 960px;
    justify-content: space-between;
}
#about-1{
    text-align: center;
    margin-bottom: 60px;
}
#about h2{    
    display: inline-block;
    color: #383e45;
    border-bottom: solid 1px black;
    font-size: 32px;
}
#green{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 30px;
}
#about-2{
    display: flex;
    justify-content: center;
    align-items: center;
}
#about-text{
    display: inline-block;
}
#about-text h3{
    font-size: 16px;
    color: #383e45;
    float: left;
}
#about-text p{
    font-size: 14.4px;
    color: #383e45;
}
#bicycle{
    margin-bottom: 100px;
    max-width: 960px;
    justify-content: space-between;
    margin: 0 auto 100px auto;
    padding: 0 4%;
}
#bicycle-1{
    text-align: center;
    margin-bottom: 60px;
}
#bicycle-1 h2{
    display: inline-block;
border-bottom: solid 1px black;
font-size: 32px;
color: #383e45;
}
#bicycle-2 ul{
    display: flex;
    justify-content:space-between;
}
#bicycle-2 li img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
#bicycle-2 li h3{
    font-size: 14px;
    margin-top: 10px;
}
#bicycle-2 p{
    font-size: 14px;
}
#bicycle-2 h3 , p{
    text-align: center;
    margin: 10px 0;
}
#bicycle-2 li{
    width: 32%;
}
footer{
    font-size: 11px;
    color:#383e45;
}
@media screen and (max-width:600px){
    #logo h1{
        margin-left: 1px;
    }
    #main-visual{
        height: 950px;
    }
    #about{
        display: block;
        text-align: center;
    }
    #about-text span{
        display: block;
        margin-right: 260px;
    }
    #about-2{
        display: block;
    }
    #green{
        margin: 0;
    }
    #about-text h3{
        float:left
    }
    #bicycle-2 ul{
        display: block;
        text-align: center;
    }
    #bicycle-2 li{
        width: auto;
        margin: 0;
    }
    footer{
        margin-top: 100px;
    }
}